.messages-container {
	overflow-x: hidden;
	overflow-y: scroll;

	width: 100%;

	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
/*
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
*/
}

.nick {
	color: #9090D0; 
}
